<!DOCTYPE html>

<html>
  <head>
    <%- include('./partials/bootstrapcdn.ejs') %>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/bootstrap.css" />
  
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/styledetails2.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/responsive.css" rel="stylesheet" /> 
    
  </head>
  <body>
    <div class="hero_area sub_pages">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="navbar-brand" href="index.html">
              <img src="/world.png" alt="" /><span>
                GEOME
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html"> Services </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact us</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
              <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
                <a href="">
                  Get A quote
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
  
    </div>  
    <a href="/issues">Issues page</a>
    <% const comp = issue.Complaint_description%> <% const s = new
    Date(issue.createdAt).toLocaleString(undefined, {timeZone:'Asia/Kolkata'})%>
    <% const date = new Date(issue.createdAt)%>
    <p>Name: <%=issue.uname%></p>
    <p>Email: <%=issue.mail%></p>
    <p>Phone: <%=issue.phone%></p>
    <p>Issue ID: <%=issue.issueID%></p>
    <p>Date and Time: <%=s%></p>
    <p>Complaint Description: <%=issue.Complaint_description%></p>
    <p>image:
      <% if(issue.img){ %>
      <img src="/uploads/<%=issue.img%>" alt="complaint image" width="200">
      <% } %>
    </p>
    <br />
    <% if(issue.task_manger == ""){%>
    <p>No Task manager is assigned yet</p>

    <form action="/assign/<%=issue._id%>" method="POST">
      <label for="taskmanager">Task Manager name</label>
      <input
        type="text"
        class="form-control"
        name="taskmanager"
        id="taskmanager"
        aria-describedby="emailHelp"
        placeholder="Enter name"
        required
      />
      <label for="taskmanagermail">Task Manager Mail</label>
      <input
        type="email"
        class="form-control"
        name="taskmanagermail"
        id="taskmanagermail"
        aria-describedby="emailHelp"
        placeholder="Enter mail"
        required
      />
      <button
        class="btn btn-primary assign-task-manager"
        data-doc="<%= issue._id %>"
      >
        Assign task manager
      </button>
    </form>

    <%} else {%>
    <p>Task manager assigned : <%= issue.task_manger%></p>
    <p>Task manager mail : <%= issue.task_manger_mail%></p>
    <%}%> <%if(!issue.taskmanger_mail_sent && issue.task_manger_mail==""){%>
    <p></p>
    <%}else if(!issue.taskmanger_mail_sent && issue.task_manger_mail!=""){%>
    <form action="/issues/<%=issue.id%>" method="POST">
      <input type="hidden" name="uname" id="uname" />
      <input type="hidden" name="tomail" id="tomail" />
      <input type="hidden" name="issueID" id="issueID" />
      <input type="hidden" name="comp_desc" id="comp_desc" />
      <input type="hidden" name="date_registered" id="date_registered" />
      <input
        type="hidden"
        class="form-control"
        name="task_manager_name"
        id="task_manager_name"
        aria-describedby="emailHelp"
        placeholder="Enter name"
        required
      />
      <input
        type="hidden"
        class="form-control"
        name="task_manager_mail"
        id="task_manager_mail"
        aria-describedby="emailHelp"
        placeholder="Enter mail"
        required
      />
      <button class="btn btn-primary">send mail to task manager</button>
    </form>
    <%}else{%>
    <button class="btn btn-success">Mail sent to Task Manager</button>
    <%}%>

    <br />
    <br />
    <button class="btn btn-danger delete" data-doc="<%= issue._id %>">
      Delete this issue
    </button>
    <script>
      const trash = document.querySelector("button.delete");
      trash.addEventListener("click", (e) => {
        const endpoint = `/issues/${trash.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => {
            // console.log(data);
            window.location.href = data.redirect;
          })
          .catch((e) => console.log(e));
      });
      document.getElementById("uname").value = "<%=issue.uname%>";
      document.getElementById("tomail").value = "<%=issue.mail%>";
      document.getElementById("issueID").value = "<%=issue.issueID%>";
      document.getElementById("date_registered").value = "<%=s%>";
      document.getElementById("comp_desc").value = `<%=comp%>`;
      document.getElementById(
        "task_manager_name"
      ).value = `<%=issue.task_manger%>`;
      document.getElementById(
        "task_manager_mail"
      ).value = `<%=issue.task_manger_mail%>`;
    </script>
  </body>
</html>
